/* Create three unequal columns that floats next to each other */

.column {
    background-color: #f1f1f1;
    float: left;
    padding: 8%;
    border-radius: 25px;
    margin: 1%;
    margin-top: 0.5%;
    height: 50%;
    
  }
  
  /* Left and right column */
  .column.side {
    margin-left: 5%;
    width: 42.5%;
    
  }
  
  /* Middle column */
  .column.middle {
    width: 42.5%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .head {
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: Helvetica;
    padding: 1%;
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    margin-top:  1%;
    margin-bottom: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
  }